doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/socket.io.min.js')
		script(src='/javascripts/util.js')
		script(src='/javascripts/list.js')
		script(src='/javascripts/drag.js')
		script(src='/javascripts/handlebars-v1.3.0.js')
	body
		block content